<a href="https://colab.research.google.com/github/nuageklow/WWCodePython_BeginnerSeries/blob/master/Ses03_WWCode_Python_Beginner_Study_Series_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session #3: Data Types - Part 1

## Outline:



*   Numeric:
  * Integers
  * Floating-point
*   Sequence:
  * String
  * List
  * Tuple

### Numeric

#### Integers

In [ ]:
# What type is this?
type(10)

int

In [ ]:
# What about this one?
type (99999999)

int

In [ ]:
a = 12345
a

12345

In [ ]:
b = 20
b

20

In [ ]:
c = -700
c

-700

In [ ]:
print("Type of a is: ", type(a))

Type of a is:  <class 'int'>

In [ ]:
print("Type of b is: ", type(b))

Type of b is:  <class 'int'>

In [ ]:
print("Type of c is: ", type(c))

Type of c is:  <class 'int'>

#### Floating-point

In [ ]:
type(10.0)

float

In [ ]:
type (99999999.00)

float

In [ ]:
d = 12345.0
d

12345.0

In [ ]:
e = 20.000
e

20.0

In [ ]:
f = -700.000000
f

-700.0

In [ ]:
g = 7e-5
g

7e-05

In [ ]:
print("Type of d is: ", type(d))

Type of d is:  <class 'float'>

In [ ]:
print("Type of e is: ", type(e))

Type of e is:  <class 'float'>

In [ ]:
print("Type of f is: ", type(f))

Type of f is:  <class 'float'>

In [ ]:
print("Type of g is: ", type(g))

Type of g is:  <class 'float'>

### Sequence

#### String

In [ ]:
# Create a String with single quotes

String1 = 'This is a Python string'
print("String with the use of Single Quotes: ")  
print(String1)   
print(type(String1))

String with the use of Single Quotes:
This is a Python string

In [ ]:
# Create a String with double quotes  

String2 = "I am a Python programmer"
print("\nString with the use of Double Quotes: ")  
print(String2)  
print(type(String2))

String with the use of Double Quotes:
I am a Python programmer
<class 'str'>

In [ ]:
# Create a String with triple quotes  

String3 = '''This is a Women Who Code event"'''
print("\nString with the use of Triple Quotes: ")  
print(String3)  
print(type(String3))

String with the use of Triple Quotes:
This is a Women Who Code event"
<class 'str'>

In [ ]:
# Creating String with triple quotes allows multiple lines  

String4 = '''Python rules!'''
print("\nCreating a multiline String: ")  
print(String4)
print(type(String4))

Creating a multiline String:
Python rules!

Access elements of a string:

In [ ]:
print("Initial String: ", String4)

Initial String:  Python rules!

In [ ]:
# Printing First character  
print("\nFirst character of String is: ", String4[0])

First character of String is:  P

In [ ]:
# Printing Last character  
print("\nLast character of String is: ", String4[-1])

Last character of String is:  !

#### List

Creating a list:

In [ ]:
List = []  
print("Initial blank List: ", List)

Intial blank List:  []

In [ ]:
# Creating a List with the use of a String  
List = ['WomenWhoCode']  
print("\nList with the use of String: ", List)

List with the use of String:  ['WomenWhoCode']

In [ ]:
# Creating a List with  
# the use of multiple values  
List = ["Women", "Who", "Code", "Python"]  
print("\nList containing multiple values: ", List[0], List[2])

List containing multiple values:  Women Code

In [ ]:
# Creating a Multi-Dimensional List (By Nesting a list inside a List)  
List = [['Women', 'Who', 'Code'], ['Python']]  
print("\nMulti-Dimensional List: ", List)

Multi-Dimensional List:  [['Women', 'Who', 'Code'], ['Python']]

Access elements of a list:

In [ ]:
List = ["Women", "Who", "Code", "Python"]  
    
# accessing an element from the list using index number  
print("Accessing element from the list:", List[0], List[2])

Accessing element from the list: Women Code

In [ ]:
# accessing an element using negative indexing  
print("Accessing element using negative indexing")

Accessing element using negative indexing

In [ ]:
# print the last element of list  
print(List[-1])

Python

In [ ]:
# print the third last element of list   
print(List[-3])

Who

#### Tuple

Creating a tuple:

In [ ]:
# Creating an empty tuple  
Tuple1 = ()  
print("Initial empty Tuple: ")  
print (Tuple1)

Initial empty Tuple:
()

In [ ]:
# Creating a Tuple with the use of Strings  
Tuple1 = ('Women', 'Who')  
print("\nTuple with the use of String: ", Tuple1)

Tuple with the use of String:  ('Women', 'Who')

In [ ]:
# Creating a Tuple with the use of list  
list1 = [1, 2, 4, 5, 6]  
print("\nTuple using List: ", tuple(list1))

Tuple using List:  (1, 2, 4, 5, 6)

In [ ]:
# Creating a Tuple with the use of built-in function  
Tuple1 = tuple('WomenWhoCode')  
print("\nTuple with the use of function: ", Tuple1)

Tuple with the use of function:  ('W', 'o', 'm', 'e', 'n', 'W', 'h', 'o', 'C', 'o', 'd', 'e')

In [ ]:
# Creating a Tuple with nested tuples  
Tuple1 = (0, 1, 2, 3)  
Tuple2 = ('python', 'women')  
Tuple3 = (Tuple1, Tuple2)  
print("\nTuple with nested tuples: ", Tuple3)

Tuple with nested tuples:  ((0, 1, 2, 3), ('python', 'women'))

Access element from a tuple:

In [ ]:
tuple1 = tuple([1, 2, 3, 4, 5])

In [ ]:
# Accessing element using indexing 
print("First element of tuple: ", tuple1[0])

First element of tuple:  1

In [ ]:
# Accessing element from last 
# negative indexing 
print("\nLast element of tuple: ", tuple1[-1]) 
  
print("\nThird last element of tuple: ", tuple1[-3])

Last element of tuple:  5

Third last element of tuple:  3