<a href="https://colab.research.google.com/github/nuageklow/WWCodePython_BeginnerSeries/blob/master/Ses03_WWCode_Python_Beginner_Study_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session #3: Data Types - Part 1

## Outline:



*   Numeric:
  * Integers
  * Floating-point
*   Sequence:
  * String
  * List
  * Tuple

### Numeric

#### Integers

In [ ]:
# What type is the number 10?
# insert code here

In [ ]:
# What about the number 99999999?
# insert code here

In [ ]:
# Now, let's create a new variable and assign it a value
# We will name the variable 'a' and assign it the value of 12345
# insert code here

In [ ]:
# We will now repeat this but for a new variable 'b' with the value of 20
# insert code here

In [ ]:
# Repeat this once more but with a new variable 'c' with the value of -700
# insert code here

In [ ]:
# We would like to now find out the types for each of these 3 variables
# insert code here for type of 'a'

In [ ]:
# insert code here for type of 'b'

In [ ]:
# insert code here for type of 'c'

#### Floating-point

In [ ]:
# Now that we have covered integers, let's move to floating-point numbers
# What is type of 10.0?
# insert code here

In [ ]:
# What about the type of 99999999.00?
# insert code here

In [ ]:
# Or the type of 12345.0?
# insert code here

In [ ]:
# We will now create 4 more variables, d/e/f/g, and assign them each separate values
# d will have the value of 12345.0
# insert code here

In [ ]:
# e will have the value of 20.000
# insert code here

In [ ]:
# f will have the value of -700.0
# insert code here

In [ ]:
# g will have the value of 7e-5
# insert code here

In [ ]:
# We would like to now find out the types for each of these 3 variables
# insert code here for type of 'd'

In [ ]:
# insert code here for type of 'e'

In [ ]:
# insert code here for type of 'f'

In [ ]:
# insert code here for type of 'g'

### Sequence

#### String

In [ ]:
# Create a String with single quotes, called String1
# string1 vs. String1


# insert code here

In [ ]:
# Create a String with double quotes, called String2
# We will first assign it as a variable, then print out the value and its type
# insert code here

In [ ]:
# Create a String with triple quotes, called String3
# We will first assign it as a variable, then print out the value and its type
# insert code here

In [ ]:
# Creating String with triple quotes allows multiple lines, called String4
# We will first assign it as a variable, then print out the value and its type
# insert code here

Access elements of a string:

In [ ]:
# First, print out the initial string (we will choose String4)
# insert code here

In [ ]:
# Now, we will print the first character of String4
# insert code here

In [ ]:
# Now, we will print the last character of String4 
# insert code here

#### List

Creating a list:

In [ ]:
# First, we will create an empty list and name it "List"
# insert code here

In [ ]:
# Next, we will create a list with the use of a String 
# This string will be: 'WomenWhoCode'
# Then, we will print out the string itself
# insert code here

In [ ]:
# Next, we will create a list with the use of multiple values
# The list will contain the values: Women, Who, Code, Python
# Then, we will print out the 1st and 3rd values of the list
# insert code here

In [ ]:
# Lastly, we will create a multi-dimensional list by nesting a list inside a list 
# The list will contain: Women, Who, Code in the outer list, and Python in the nested list
# Then, we will print out this multi-dimensional list
# insert code here

Access elements of a list:

In [ ]:
# Now, we would like to access elements of the list.
# This list will contain the same values as above.
# insert code here

In [ ]:
# Now, we will print out the 1st and 3rd values of the above list
# We will do this by using the index number
# insert code here

In [ ]:
# Another way to access an element is by using negative indexing
# First, we will print the last element of the list.
# insert code here


# Now, we will print the 3rd-to-last element of the list.
# insert code here

Accessing element using negative indexing

#### Tuple

Creating a tuple:

In [ ]:
# We will begin by creating an empty tuple 
# We will name this 'Tuple1' and it will be empty to begin with
# insert code here

In [ ]:
# Next, we will create a tuple with the use of strings, just like we did for lists earlier
# This will also be called 'Tuple1' and will contain the values: Women, Who
# We will then print out Tuple1
# insert code here

In [ ]:
# Now, we will be creating a tuple with the use of list  
# We will name this list, list 1, and it will contain the values: 1, 2, 4, 5, 6
# insert code here

In [ ]:
# Now, we will create a tuple with the use of the built-in function  
# This will be called 'Tuple1' and will contain the value: WomenWhoCode
# Then, we will print out 'Tuple1'
# insert code here

In [ ]:
# Lastly, we will create a tuple with nested tuples 
# We will start out with Tuple1 (containing the values: 0, 1, 2, 3)
# Then, we will have Tuple2 (containing the values: python, women)
# Finally, we will have Tuple3 (containing the values: Tuple1, Tuple2)
# Last, we will print out 'Tuple3' 
# insert code here

Access element from a tuple:

In [ ]:
# Now, we will be accessing elements from the tuple
# The tuple will be tuple1 and contain the values: 1, 2, 3, 4, 5
# insert code here

In [ ]:
# Next, we will access an element using indexing
# We will access and print out the first value of tuple1
# insert code here

In [ ]:
# Lastly, we will access an element using negative indexing
# First, we will access the last element of tuple1 and print it out.
# insert code here

# Secondly, we will access the third-to-last element of tuple1 and print it out.
# insert code here