<a href="https://colab.research.google.com/github/nuageklow/WWCodePython_BeginnerSeries/blob/master/notebooks/Ses04_WWCode_Python_Beginner_Study_Series_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# __Agenda__   
* Tuple
* [Boolean](#Boolean) 
* [Set](#Set)
* [Dictionary](#Dictionary)

## Tuple

Creating a tuple:

In [ ]:
# We will begin by creating an empty tuple 
# We will name this 'Tuple1' and it will be empty to begin with
# insert code here

In [ ]:
# Creating an empty tuple  
Tuple1 = ()  
print("Initial empty Tuple: ")  
print (Tuple1)

Initial empty Tuple:
()

In [ ]:
# Next, we will create a tuple with the use of strings, just like we did for lists earlier
# This will also be called 'Tuple1' and will contain the values: Women, Who
# We will then print out Tuple1
# insert code here

In [ ]:
# Creating a Tuple with the use of Strings  
Tuple1 = ('Women', 'Who')  
print("\nTuple with the use of String: ", Tuple1)

Tuple with the use of String:  ('Women', 'Who')

In [ ]:
# Now, we will be creating a tuple with the use of list  
# We will name this list, list 1, and it will contain the values: 1, 2, 4, 5, 6
# insert code here

In [ ]:
# Creating a Tuple with the use of list  
list1 = [1, 2, 4, 5, 6]  
print("\nTuple using List: ", tuple(list1))

Tuple using List:  (1, 2, 4, 5, 6)

In [ ]:
# Now, we will create a tuple with the use of the built-in function  
# This will be called 'Tuple1' and will contain the value: WomenWhoCode
# Then, we will print out 'Tuple1'
# insert code here

In [ ]:
# Creating a Tuple with the use of built-in function  
Tuple1 = tuple('WomenWhoCode')  
print("\nTuple with the use of function: ", Tuple1)

Tuple with the use of function:  ('W', 'o', 'm', 'e', 'n', 'W', 'h', 'o', 'C', 'o', 'd', 'e')

In [ ]:
# Lastly, we will create a tuple with nested tuples 
# We will start out with Tuple1 (containing the values: 0, 1, 2, 3)
# Then, we will have Tuple2 (containing the values: python, women)
# Finally, we will have Tuple3 (containing the values: Tuple1, Tuple2)
# Last, we will print out 'Tuple3' 
# insert code here

In [ ]:
# Creating a Tuple with nested tuples  
Tuple1 = (0, 1, 2, 3)  
Tuple2 = ('python', 'women')  
Tuple3 = (Tuple1, Tuple2)  
print("\nTuple with nested tuples: ", Tuple3)

Tuple with nested tuples:  ((0, 1, 2, 3), ('python', 'women'))

Access element from a tuple:

In [ ]:
# Now, we will be accessing elements from the tuple
# The tuple will be tuple1 and contain the values: 1, 2, 3, 4, 5
# insert code here

In [ ]:
tuple1 = tuple([1, 2, 3, 4, 5])

In [ ]:
# Next, we will access an element using indexing
# We will access and print out the first value of tuple1
# insert code here

In [ ]:
# Accessing element using indexing 
print("First element of tuple: ", tuple1[0])

First element of tuple:  1

In [ ]:
# Lastly, we will access an element using negative indexing
# First, we will access the last element of tuple1 and print it out.
# insert code here

# Secondly, we will access the third-to-last element of tuple1 and print it out.
# insert code here

In [ ]:
# Accessing element from last 
# negative indexing 
print("\nLast element of tuple: ", tuple1[-1]) 
  
print("\nThird last element of tuple: ", tuple1[-3])

Last element of tuple:  5

Third last element of tuple:  3

In [ ]:
# find the location of a specific word from tuple
# thanks Alise for the solution!
Tuple1 = ("women","who","code","python","beginner")
Tuple1.index(2)

2



---



---

## __Boolean__  

Boolean type that returns True or False  

To check if a variable is boolean class, it should return `class<boolean>` when type `type(a)` 

__List of operators for boolean:__  
* or   
* and  
* not  
* == (equivalent)  
* != (not equivalent) 
* ">" / >= (greater / greater or equal to) 
* < / <= (less / less or equal to)

In [ ]:
# find out if 10 is greater than 5 
10 > 5

True

In [ ]:
# compare 2 numeric values: 3.141592653589793 and 3.141532653589793
pie1 = 3.141592653589793
pie2 = 3.141532653589793
pie1 != pie2

True

In [ ]:
# compare strings "1e8Ehv6ezVjIxNP5-sGpPsJ4gT7I1Ih97" and "1e8Ehv6ezVjIxNP5-asGpPsJ4gT7I1Ih97"
a = "1e8Ehv6ezVjIxNP5-sGpPsJ4gT7yI1Ih97"
b = "1e8Ehv6ezVjIxNP5-asGpPsJ4gT7I1Ih97"
a == b

False

In [ ]:
# make list of ingredients for your dinner
dinner = ["chicken breast", "onion", "carrot", "cherry tomato", "broccoli"]

# find out if onion is in the dinner list
print("onion" in dinner)

# find out if tomato is in the dinner list 
print("tomato" in dinner)

True
False

In [ ]:
# find out if formula (572 + 365) * 2 is greater than (760 + 423) /3
(572 + 365) * 2 > (460 + 423) / 3

True

In [ ]:
fav_eggtypes_list = ["scrambled", "omelets", "over easy", "sunny side up", "over easy", "over medium", "omelets"]  # favourite egg types list
ok_eggtypes_list = ["proched", "boiled", "baked", "over hard", "boiled", "over medium"]  # ok egg types list
 
# check out if sunny side up is in either of the egg list
print("sunny side up" in fav_eggtypes_list or ok_eggtypes_list)
 
# check out if over hard is in both favourite and ok egg types list
print("over hard" in fav_eggtypes_list and ok_eggtypes_list)

True
False

**_Friendly reminder: quotation? no quotation?_**   

words / alphabet / numbers with quotation -> string  (i.e. "apple", "145")  
words / alphabet without quotation -> variable (i.e. apple)  
numbers without quotation -> integer (i.e. 32)

![ChessUrl](https://media.giphy.com/media/Okh1vMtMT1HG4MhC2h/giphy.gif)



---



---

## __Set__  
 
* a collection of string or integer with no specific index or order, same as list  
* automatically sorts values in alphabetical order  

__Objects__  
* `len(s)` -- find out number of elements in set s  
* `x in s` -- test x for memberships in s  
* `x not in s` -- test x for non-membership in s  
* `s.issubset(t)` / `s<=t`  -- test whether every element in s is in t  
* `s.issuperset(t)` / `s>=t` -- test whether every element in t is in s  
* `s.union(t)` / `s|t` -- new set with elements from both s & t  
* `s.inersection(t)`  / `s&t` -- new set with elements common to s & t  
* `s.difference(t)` / `s-t` -- new set with elements in s but not in t  
* `s.symmetric_difference(t)` / `s^t`  -- new set with elements in either s or t but not both  
* `s.copy`  -- new set with a shallow copy of s

In [ ]:
# obtain unique values from fav_eggtypes_list
print(set(fav_eggtypes_list))

# now print the original fav_eggtypes_list to compare
print(fav_eggtypes_list)

{'sunny side up', 'over easy', 'over medium', 'omelets', 'scrambled'}
['scrambled', 'omelets', 'over easy', 'sunny side up', 'over easy', 'over medium', 'omelets']

In [ ]:
# find out the type of egg that shows up in both favourite egg type (fav_eggtypes_list) and ok egg type (ok_eggtypes_list)
set(fav_eggtypes_list).intersection(set(ok_eggtypes_list))

{'over medium'}



---



---

## __Dictionary__  
 
Like the word "dictionary", this sequence data type stores values in an unordered manner. Dictionary in Python consists of 2 main elements: key and value - and we called it _key and value pair_
 
Use curly braces `{}` to represent a dictionary  
 
 
 
Example dictionary: `dairy = {"cheese":["cheddar", "blue", "goat", "mozzarella", "brie"], "milk": ["whole fat", "2% skim", "soy"]}`

In [ ]:

# create a dictionary that consists of 3 key-value pairs of items and give an appropriate variable name
a_series_of_nums = {1:1.25, 2:0.06, 3:2.73}
a_series_of_nums

{1: 1.25, 2: 0.06, 3: 2.73}

In [ ]:
# now append an item on the second series of values
a_series_of_nums[2] = 6.31
a_series_of_nums

{1: 1.25, 2: 6.31, 3: 2.73}

In [ ]:
# apparently, the added value was not the value you were supposed to add, so you want to delete it
a_series_of_nums.pop(2, 6.31)
a_series_of_nums

{1: 1.25, 3: 2.73}

In [ ]:
# you now decided you don't want the third set of the values, so you will delete the values
del a_series_of_nums[3]
a_series_of_nums

{1: 1.25}

 List of common functions that can be used:  https://www.w3schools.com/python/python_ref_dictionary.asp