<a href="https://colab.research.google.com/github/nuageklow/WWCodePython_BeginnerSeries/blob/master/Ses04_WWCode_Python_Beginner_Study_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# __Agenda__   
* Tuple
* [Boolean](#Boolean) 
* [Set](#Set)
* [Dictionary](#Dictionary)

## Tuple

Creating a tuple:

In [ ]:
# We will begin by creating an empty tuple 
# We will name this 'Tuple1' and it will be empty to begin with

In [ ]:
# Creating an empty tuple

In [ ]:
# Next, we will create a tuple with the use of strings, just like we did for lists earlier
# This will also be called 'Tuple1' and will contain the values: Women, Who
# We will then print out Tuple1

In [ ]:
# Creating a Tuple with the use of Strings

In [ ]:
# Now, we will be creating a tuple with the use of list  
# We will name this list, list 1, and it will contain the values: 1, 2, 4, 5, 6

In [ ]:
# Creating a Tuple with the use of list

In [ ]:
# Now, we will create a tuple with the use of the built-in function  
# This will be called 'Tuple1' and will contain the value: WomenWhoCode
# Then, we will print out 'Tuple1'

In [ ]:
# Creating a Tuple with the use of built-in function

In [ ]:
# Lastly, we will create a tuple with nested tuples 
# We will start out with Tuple1 (containing the values: 0, 1, 2, 3)
# Then, we will have Tuple2 (containing the values: python, women)
# Finally, we will have Tuple3 (containing the values: Tuple1, Tuple2)
# Last, we will print out 'Tuple3'

In [ ]:
# Creating a Tuple with nested tuples

Access element from a tuple:

In [ ]:
# Now, we will be accessing elements from the tuple
# The tuple will be tuple1 and contain the values: 1, 2, 3, 4, 5

In [ ]:
# Creating tuple1

In [ ]:
# Next, we will access an element using indexing
# We will access and print out the first value of tuple1

In [ ]:
# Accessing element using indexing

In [ ]:
# Lastly, we will access an element using negative indexing
# First, we will access the last element of tuple1 and print it out.


# Secondly, we will access the third-to-last element of tuple1 and print it out.

In [ ]:
# Accessing element from last using negative indexing



---



---

## __Boolean__  

Boolean type that returns True or False  

To check if a variable is boolean class, it should return `class<boolean>` when type `type(a)` 

__List of operators for boolean:__  
* or   
* and  
* not  
* == (equivalent)  
* != (not equivalent) 
* ">" / >= (greater / greater or equal to) 
* < / <= (less / less or equal to)

In [ ]:
# find out if 10 is greater than 5

In [ ]:
# compare 2 numeric values: 3.141592653589793 and 3.141532653589793

True

In [ ]:
# compare strings "1e8Ehv6ezVjIxNP5-sGpPsJ4gT7I1Ih97" and "1e8Ehv6ezVjIxNP5-asGpPsJ4gT7I1Ih97"

False

In [ ]:
# make list of ingredients for your dinner
dinner = 

# find out if onion is in the dinner list


# find out if tomato is in the dinner list

True
False

In [ ]:
# find out if formula (572 + 365) * 2 is greater than (760 + 423) /3

True

In [ ]:
fav_eggtypes_list = ["scrambled", "omelets", "over easy", "sunny side up", "over easy", "over medium", "omelets"]  
ok_eggtypes_list = ["poached", "boiled", "baked", "over hard", "over medium"]
 
# check out if sunny side up is in either of the egg list

 
# check out if over hard is in both favourite and ok egg types list

True

**_Friendly reminder: quotation? no quotation?_**   

words / alphabet / numbers with quotation -> string  (i.e. "apple", "145")  
words / alphabet without quotation -> variable (i.e. apple)  
numbers without quotation -> integer (i.e. 32)

![ChessUrl](https://media.giphy.com/media/Okh1vMtMT1HG4MhC2h/giphy.gif)



---



---

## __Set__  
 
* a collection of string or integer with no specific index or order, same as list  
* automatically sorts values in alphabetical order  

__Objects__  
* `len(s)` -- find out number of elements in set s  
* `x in s` -- test x for memberships in s  
* `x not in s` -- test x for non-membership in s  
* `s.issubset(t)` / `s<=t`  -- test whether every element in s is in t  
* `s.issuperset(t)` / `s>=t` -- test whether every element in t is in s  
* `s.union(t)` / `s|t` -- new set with elements from both s & t  
* `s.inersection(t)`  / `s&t` -- new set with elements common to s & t  
* `s.difference(t)` / `s-t` -- new set with elements in s but not in t  
* `s.symmetric_difference(t)` / `s^t`  -- new set with elements in either s or t but not both  
* `s.copy`  -- new set with a shallow copy of s

In [ ]:
# obtain unique values from fav_eggtypes_list


# now print the original fav_eggtypes_list to compare

{'sunny side up', 'over easy', 'over medium', 'omelets', 'scrambled'}
['scrambled', 'omelets', 'over easy', 'sunny side up', 'over easy', 'over medium', 'omelets']

In [ ]:
# find out the type of egg that shows up in both favourite egg type (fav_eggtypes_list) and ok egg type (ok_eggtypes_list)



---



---

## __Dictionary__  
 
Like the word "dictionary", this sequence data type stores values in an unordered manner. Dictionary in Python consists of 2 main elements: key and value - and we called it _key and value pair_
 
Use curly braces `{}` to represent a dictionary
 
 
 
Example dictionary: 
`dairy = {"cheese":["cheddar", "blue", "goat", "mozzarella", "brie"], "milk": ["whole fat", "2% skim", "soy"]}`

In [ ]:

# create a dictionary that consists of 3 key-value pairs of items and give an appropriate variable name

In [ ]:
# now append an item on the second series of values

In [ ]:
# apparently, the added value was not the value you were supposed to add, so you want to delete it

In [ ]:
# you now decided you dont want the third set of the values, so you will delete the values

 List of common functions that can be used:  https://www.w3schools.com/python/python_ref_dictionary.asp